* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.main-container {
    min-height: 100vh;
    overflow: auto;
    position: relative;
    /* background: bisque; */
}


